.skip-nav{
    text-align:center;
    
    & a{
        color:#fff;
        font-weight:500;
        position:absolute;
        top:-50px;
        left:0;
        width:100%;
        padding:10px 0;
        background:#24629b;
        z-index:100;

        &:focus{
            top:0;
        }
    }
}

.blind{
    position:absolute;
    width:1px;
    height:1px;
    overflow:hidden;
    border:0;
    clip:rect(1px,1px,1px,1px);
}

// 헤더

.common-header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:97px;
    z-index:50;
    overflow:hidden;

    &.on{
        background:#fff;
        height:457px;
        transition:all .3s ease-out;

        .logo > a{
            background:url('../images/icon2/header-logo.png')0px -33px no-repeat;
        }

        .depth1 > li > a{
            color:#24629b;
        }
    }

    &:before{
        display:block;
        content:"";
        position:absolute;
        top:97px;
        left:0;
        width:100%;
        height:360px;
        background:#f1f1f3;
        
    }
    
    .inner{
        position:relative;
        width:1500px;
        margin:0 auto;
        max-width:1500px;
        @include clear;
    }

    .logo{
        float:left;
        margin:31px 0 0 5px;

        & a{
            display:block;
            @include hidden(134px,33px);
            background:url('../images/icon2/header-logo.png')no-repeat;
        }
    }

    // GNB

    .gnb{
        text-align:center;
        float:left;
        margin-left:205px;
    }

    // depth1

    .depth1{
        display:inline-block;
        @include clear;

        & > li{
            float:left;

            & > a{
                display:block;
                @include font(20px,400,#fff);
                height:97px;
                line-height:99px;
                padding:0 64.3px;
            }
        }
    }

    .depth2{
        text-align:left;
        padding-left:64.3px;
        margin-top:20px;

        & > li{

            & > a{
                display:inline-block;
                font-size:16px;
                color:#333;
                font-weight:400;
                text-align:left;
                height:35px;
                padding-left:10px;
                position:relative;

                &:before{
                    display:block;
                    content:"";
                    position:absolute;
                    top:7px;
                    left:0;
                    background:#575757;
                    width:2px;
                    height:2px;
                    border-radius:50%;
                }

                &:hover,&:focus{
                    color:#6b9ecc;
                }
            }
        }
    }

    .depth3{
        position:relative;

        & > li{
            padding-left:10px;

            & > a{
                display:inline-block;
                height:32px;
                font-size:15px;               
                color:#666;

                &:hover,&:focus{
                    color:#6b9ecc;
                }
            }
        }
    }

    // util

    .util{
        position:absolute;
        top:40px;
        right:6px;
        @include clear;

        & ul{
            float:left;
            margin-top:1px;
        }

        & li{
            display:inline-block;
            padding-left:12px;
            margin-left:12px;
            position:relative;

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:2px;
                left:0;
                width:1px;
                height:16px;
                background:#aaa;
            }

            &:first-child:before{
                display:none;
            }

            & > a{
                font-size:17px;
                color:#d7d7d7;

                &:hover,&:focus{
                    color:#6b9ecc;
                }
            }
        }
    }

    .lang{
        float:left;
        display:block;
        width:46px;
        height:20px;
        line-height:20px;
        border:1px solid #aeaeae;
        font-size:12px;
        text-align:center;
        color:#d7d7d7;
        margin-left:29px;
        text-indent:1px;

        &:hover,&:focus{
            color:#6b9ecc;
            border-color:#6b9ecc;
        }
    }
}


// 푸터

.common-footer{
    background:#3e3e3e;
    padding:35px 0;
    height:147px;
    box-sizing: border-box;
    font-weight:400;
    letter-spacing:0;

    .inner{
        position:relative;
        width:1500px;
        max-width:1480px;
        margin:0 auto;
        @include clear;
    }

    .logo{
        position:relative;
        float:left;
        margin-left:5px;
        @include hidden(116px,28px);

        &:before{
            display:block;
            content:"";
            position:absolute;
            top:0;
            left:0;
            @include sprite($icon-footer-logo);
        }
    }

    .left{
        float:left;
        margin-left:115px;
    }

    .nav{

        & ul{
            @include clear;
        }

        & li{
            float:left;
            padding-left:15px;
            margin-left:18px;
            position:relative;

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:4px;
                left:0;
                width:1px;
                height:14px;;    
                background:#8d8d8d;
            }

            &:first-child{
                margin-left:0;
                padding-left:0;

                &:before{
                    display:none;
                }
            }
        }

        & a{
            line-height:20px;
            font-size:14px;
            color:#8d8d8d;
        }
    }

    .info{
        margin-top:23px;

        .address{
            font-size:13px;
            color:#828282;
        }

        .copy{
            display:block;
            font-size:12px;
            color:#828282;
            margin-top:6px;
        }
    }

    .right{
        position:absolute;
        top:35px;
        right:0;
        @include clear;   
    }

    .sns{
        width:32px;
        float:left;
        margin:4px 21px 0 0;

        & a{
            display:block;
            @include hidden(32px,32px);
            background:url('../images/icon2/common.png')0 -100px no-repeat;
        }
    }

    .prugio{
        float:left;
        width:127px;
        height:35px;
        border:1px solid #626262;
        position:relative;

        & a{
            display:block;
            position:relative;
            @include hidden(100%,35px);

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:12px;
                left:15px;
                @include sprite($icon-prugio-iink);
            }
        }

        &:after{
            display:block;
            content:"";
            position:absolute;
            top:12px;
            right:14px;
            width:6px;
            height:11px;
            background:url('../images/icon2/common.png')no-repeat -470px -180px;
        }
    }
}

// 본문

.inner{
    width:1140px;
    margin:0 auto;
}

.contents-main{
    position:relative;

    .section{
        padding-top:99px;
    }

    .txt{
        font-size:16px;
        color:#333;
        text-align:center;
        margin:24px 0 64px 0;
    }

    & h3{
        @include font(35px,400,#000);
        text-align:center;
    }

    & h4{
        @include font(30px,400,#000);
        text-align:center;
        margin-bottom:60px;
    }
}

// 서브 헤딩 영역
.head{
    height:300px;
    padding-top:158px;
    box-sizing:border-box;

    & h2{
        @include font(40px,500,#fff);
        text-align:center;
        padding-bottom:60px;
        position:relative;
        
        &:after{
            display:block;
            content:"";
            position:absolute;
            bottom:0;
            left:50%;
            width:1px;
            height:40px;
            margin-left:-1px;
            background:#fff;
            
        }
    } 
}

// top-btn
.top-btn{
    position:fixed;
    right:311px;
    bottom:21px;
    display:none;
    
    &.on{
        display:block;
    }

    & button{
        display:block;
        @include hidden(50px,50px);
        cursor:pointer;
        position:relative;

        &:before{
            display:block;
            content:"";
            position:absolute;
            top:0;
            left:0;
            @include sprite($icon-top-btn);
        }
    }
}


//서브 헤딩 bg
.about{
    .head{
        background:url('../images/about/about-heading.jpg')no-repeat center;
    }
}

.customer{
    .head{
        background:url('../images/customer/customer-heading.jpg')no-repeat center;
    }
    .lnb li{
        &:before{
            left:-2px;
        }
        &:last-child:after{
            right:1px;
        }
    }
}

// breadcrumb
.location-wrap{
    position:absolute;
    top:-22px;
    right:0;
    width:100%;
}

.location{
    width:1500px;
    margin:0 auto;
    text-align:right;
    padding-right:5px;
    box-sizing:border-box;
    max-width:1480px;
    
    & span{
        font-size:12px;
        color:#ddd;
        font-weight:400;

        &:before{
            display:inline-block;
            content:">";
            padding:0 9px 0 6.7px;
            font-size:11px;
        }

        &:first-child{

            &:before{
                display:none;
            }
        }
    }
}

// lnb
.lnb{
    position:sticky;
    top:0;
    left:0;
    background:#fff;
    height:70px;
    border-bottom:1px solid #dadada;
    z-index:30;
    // min-width:1140px;

    & > ul{
        width:1140px;
        margin:0 auto;
        display:table;
        table-layout:fixed;

        & > li{
            display:table-cell;
            position:relative;

            &.on{

                & button{
                    &:after{
                        content:"닫기";
                    }
                }

                .sub-list{
                    display:block;
                }
            }

            &:before{
                display:block;
                content:"";
                position:absolute;
                top:50%;
                left:-1px;
                width:1px;
                height:20px;
                margin-top:-10px;
                background:#dcdcdc;
            }

            &:first-child:before{
                left:0;
            }

            &:last-child:after{
                display:block;
                content:"";
                position:absolute;
                top:50%;
                right:0;
                width:1px;
                height:20px;
                margin-top:-10px;
                background:#dcdcdc;
            }

            & button{
                display:block;
                width:100%;
                @include font(17px,400,#000);
                font-family:'Noto Sans KR',sans-serif;
                background:0;
                line-height:70px;
                position:relative;
                cursor:pointer;

                & span{
                    padding-right:21px;
                    letter-spacing:-0.5px;
                    position:relative;

                    &:before{
                        display:block;
                        content:"";
                        position:absolute;
                        top:12px;
                        right:0;
                        width:11px;
                        height:6px;
                        background:url('../images/icon2/common.png') -468px -154px no-repeat;
                    }
                }

                &:after{
                    content:"열기";            
                    position:absolute;
                    width:1px;
                    height:1px;
                    overflow:hidden;
                    border:0;
                    clip:rect(1px,1px,1px,1px);
                }
            }

            & > a{
                display:block;
                @include font(17px,400,#000);
                line-height:70px;
                text-align:center;
            }
        }
    }

    .sub-list{
        position:absolute;
        top:71px;
        left:0;
        width:100%;
        background:#fff;
        border:1px solid #dcdcdc;
        border-top:0;
        z-index:5;
        display:none;
        
        & li{
            border-bottom:1px solid #dcdcdc;

            &:last-child{
                border-bottom:0;
            }

        }

        & a{
            display:block;
            font-size:16px;
            color:#666;
            line-height:48px;
            padding:0 20px;
            position:relative;

            &:after{
                display:block;
                content:"";
                position:absolute;
                top:20px;
                right:20px;
                width:6px;
                height:11px;
                background:url('../images/icon2/common.png') -471px -180px no-repeat;
            }
        }
    }
}

// scroll-active
.scroll-active{
    opacity:0;
    transform:translateY(30px);
    transition:all .5s ease-out;

    &.on{
        opacity:1;
        transform:translateY(0);
    }
}