.section-main{
    position:relative;

    .video{
        position:relative;
        height:100vh;

        & video{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            object-fit:fill;
        }

        &-btn{
            position:absolute;
            bottom:50px;
            left:57px;
            width:24px;
            height:24px;    
            z-index:10;

            & button{
                @include hidden(24px,24px);
                background:url('../images/icon2/main-video-control.png')-24px 0 no-repeat;
                cursor:pointer;

                &.on{
                    background-position:0 0;
                }
            }
        }
    }

    .title-wrap{
        position:absolute;
        bottom:0;
        left:50px;
        padding-bottom:50px;

        & p{
            @include font(90px,700,#fff);
            letter-spacing:-2px;
            margin-bottom:21px;
        }

        & span{
            display:inline-block;
            @include font(24px,400,#fff);
            margin:0 0 50px 7px;
        }
    }

    .news-room{
        position:absolute;
        bottom:104px;
        right:0;
        @include clear;

        & h3{
            float:left;
            font-size:0;

            & button{
                width:65px;
                height:210px;
                background:#fff;
                position:relative;
                cursor:pointer;

                &.on{

                    &:after{
                        content:"닫기";
                    }

                    &:before{
                        background-position:-6px 0;    
                    }
                    

                }

                &:after{
                    content:"열기";
                    position:absolute;
                    overflow: hidden;
                    width:1px;
                    height:1px;
                    border:0;
                    clip:rect(1px,1px,1px,1px);  
                }

                &:before{
                    display:block;
                    content:"";
                    position:absolute;
                    bottom:33px;
                    left:50%;
                    width:6px;
                    height:10px;
                    background:url('../images/icon2/main-news-arrow.png')no-repeat;
                }
            }

            .name{
                position:absolute;
                top:30px;
                left:0;
                width:100%;
                text-align:center;
                font-family:'Noto Sans KR',sans-serif;    
                font-size:13px;
                letter-spacing:-0.7px;            
            }
            
        }

        .content{
            width:0;
            overflow: hidden;
            float:left;
            transition:all .3s ease-out;

            &.on{
                width:650px;
            }

            & ul{
                width:651px;
                @include clear;
            }

            & li{
                width:216px;
                height:210px;
                border-left:1px solid #eee;
                float:left;
            }

            & a{
                display:block;
                height:100%;
                background:#fff;
                padding:30px 20px 0;
                box-sizing:border-box;
                position:relative;
            }

            .heading{
                font-size:18px;
                font-weight:400;
                color:#000;
                line-height:25px;
            }
            .data{
                position:absolute;
                bottom:33px;
                font-size:15px;
                color:#999;
            }
        }

        .link-wrap{
            float:left;

            & a{
                display:block;
                width:105px;
                height:105px;
                font-size:14px;
                color:#bdfbfd;
                font-weight:400;
                box-sizing:border-box;
                padding:73px 0 0 15px;
            }

            .link1{
                background:url('../images/icon2/main-news-btn.png')no-repeat;
            }
            .link2{
                background:url('../images/icon2/main-news-btn.png')-105px 0 no-repeat;
            }
        }
    }

    .banner{
        position:absolute;
        bottom:319px;
        right:0;
        font-size:0;

        & a{
            display:block;
            height:100%;
        }
    }
}
